<div>
    <label>Name*</label>
    <input type="text" name="name" value="<%= driver.name %>">
</div>
<div>
    <label>Address</label>
    <input type="text" name="address" value="<%= driver.address %>">
</div>
<div>
    <label>Phone*</label>
    <input type="tel" name="phone" value="<%= driver.mobile %>">
</div>
<div>
    <label>E-mail</label>
    <input type="email" name="email" value="<%= driver.email %>">
</div>
<div>
    <label>Driver License Number*</label>
    <input type="text" name="licenseNo" value="<%= driver.licenseNo %>">
</div>
<div>
    <label>Notes</label>
    <textarea name="description"><%= driver.description %></textarea>
</div>
