<h2>Search Drivers</h2>
<form method="GET" action="/office/drivers">
    <label>Name</label>
    <input type="text" name="name" value="<%= searchOptions.name %>">
    <button type="submit">Search</button>
</form>
<br>

<% if (drivers != null && drivers.length > 0) { %>
    <% drivers.forEach(driver => { %>
        <div><%= driver.name %></div>
        <a href="/office/drivers/<%= driver.id %>">View</a>
        <a href="/office/drivers/<%= driver.id %>/edit">Edit</a>
        <%- include("../../partials/deleteForm", { url: `/office/drivers/${driver.id}` }) %>
    <% }) %>
<% } %>
