<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/javascripts/driver/addShift.js"></script>
    <script defer src="/javascripts/driver/driversDashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="/stylesheets/main.css">
    <script src="https://kit.fontawesome.com/17be9efc7d.js" crossorigin="anonymous"></script>
    <title>Mainstream Timesheet</title>
</head>
<body>
    <header>
        <%- include("../partials/mainHeader") %>
        <%- include("../partials/driversHeader") %>
        <%- include("../partials/errorMessage") %>
    </header>

    <%- body %>
    <footer>
        <%- include("../partials/footer") %>
    </footer>
</body>
</html>